*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white ;
}
header{
    height: 8vh;
    padding-left: 1vh;
    background-color: rgb(245, 255, 240);
}

header h1{
   color: green;
}

nav{
    background-color: rgb(41, 185, 41);
    display: flex;
    align-items: center;
    height: 4vh;
    color: white;
}
nav h4{
    padding-left: 2vh;
    text-decoration: underline white;
    
}

a{
    color: white;

}
a:hover {
    color: black; /* Cambia el color al pasar el ratón */
    text-decoration: overline;
}
main{
    height: 80vh;
    display: flex;
    align-items:center ;
    justify-content: center;
}
main section{
    width: 99vw;
    height: 78vh;
}
p{
    font-weight: 700;
}

span{
    font-weight: 700;
}

footer{
    background-color: black;
    color: white;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}